:root {
    --grid-unit: 16px;
    --spacing-0: 0;
    /* 0px */
    --spacing-1: 0.5em;
    /* 8px */
    --spacing-2: 1em;
    /* 16px */
    --spacing-3: 1.5em;
    /* 24px */
    --spacing-4: 2em;
    /* 32px */
    --spacing-5: 2.5em;
    /* 40px */
    --spacing-6: 3em;
    /* 48px */
    --spacing-7: 3.5em;
    /* 56px */
}

.room--container--wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
}

.messages--wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-1);
}

.message--sent {
    display: flex;
    flex-direction: row;
    align-items: center;
}