/* Global settings */

:root {
  --mainBgColor: rgba(20, 20, 31, 11);
  --secondaryBgColor: rgba(27, 27, 39, 1);
  --borderColor1: rgba(40, 41, 57, 1);
  --borderColor2: rgba(79, 86, 105, 1);
  --textColorMain: #fff;
  --textColorSecondary: rgb(226, 227, 232);
  --themeColorMain: rgba(219, 26, 90, 1);
  --themeColorSecondary: #386fd2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  color: #40e0d0;
}

body {
  background-color: var(--mainBgColor);
  color: var(--textColorMain);
}

.container {
  max-width: 600px;
  margin: 20px auto;
}

/* Login & Register Pages */

.auth--container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form--wrapper {
  width: 600px;
  width: 600px;
  padding: 2em;
}

.field--wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0.5em 0;
}



/* Form Input Styling */

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  background: var(--mainBgColor);
  border: none;
  border-bottom: 1px solid var(--borderColor1);
  padding: 1rem;
  border-radius: 3px;
  width: 100%;
  color: var(--color-light);
  outline: none;
  font-size: 18px;
  text-shadow: none !important;
}


/* Button Styling */

.btn {
  padding: 0.5em 1em;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s;
}

.btn--lg {
  padding: 1em 2em;
}

.btn--main {
  background-color: rgba(219, 26, 90, 1);
  color: #fff;
}

.btn--secondary {
  background-color: #8db3dd;
}

.btn:hover {
  opacity: 0.7;
}

/* Header Styling */

#header--wrapper {
  background-color: var(--mainBgColor);
  padding: 1em;
  display: flex;
  justify-content: space-between;
  border-radius: 10px 10px 0 0;
  border: 1px solid var(--borderColor1);
  border-bottom: none;
}

.header--link {
  color: #c7d8eb;
  cursor: pointer;
  transition: 0.3s;
}

.header--link:hover {
  color: #8db3dd;
}

/* Room Styling */

.room--container {
  padding: 2em;
  background-color: var(--secondaryBgColor);
  border-radius: 0 0 10px 10px;
  border: 1px solid var(--borderColor1);
}

#message--form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.send-btn--wrapper {
  display: flex;
  justify-content: flex-end;
}

.message--wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.5em;
  margin: 1em;
}

.message--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message--body {
  padding: 0.5em 0;
  color: var(--textColorSecondary);
  background-color: var(--themeColorMain);
  padding: 1em;
  border-radius: 20px;
  width: fit-content;
  max-width: 90%;
  word-wrap: break-word;
  /* added */
}

div[data-owner="true"].message--body {
  margin-left: auto;
  background-color: var(--themeColorSecondary)
}

.message--body--owner {
  border: 1px solid rgba(219, 26, 90, 1);
  background-color: var(--secondaryBgColor);
}

.message-timestamp {
  margin-left: 1em;
  color: rgb(164, 161, 161);
}

.delete--btn {
  color: #8db3dd;
  cursor: pointer;
  transition: 0.3s;
  width: 20px;
}

.delete--btn:hover {
  color: red;
}

/* Landing Page */


.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.content {
  display: flex;
  width: 80%;
  height: 80%;
  background-color: rgb(252, 252, 237);
  box-shadow: 0px 0px 5px rgba(219, 26, 90, 1);
  border-radius: 10px;
  overflow: hidden;
}

.text {
  flex: 1;
  padding: 20px;
  color: black;
  padding: 150px 50px;
  text-align: center;
}

.text h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.text p {
  font-size: 16px;
  margin-bottom: 20px;
}

.button-text {
  background-color: rgba(219, 26, 90, 1);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  /* transition: background-color 0.3s; */
}

.image {
  flex: 1;
  text-align: center;
  padding: 20px;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  width: 100%;
  padding-top: 30px;
}
